
*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
height:100%;
background-color:black;
color:white;
}

.page{
width:100%;
height:100vh;
display:grid;
grid-template-columns: 1fr 1fr;
}

.section1{
width: 100%;
height:100%;
background-color:#ffffff;
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:space-between;
padding:60px 10px 40px 80px;
gap:20px;
}

.section2{
width:100%;
height:100%;
background-color:whitesmoke;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:40px 20px;
color:rgb(80,79,79);
}

.nav1{
margin-top:30px;
font-size:30px;
font-weight:bold;
color:rgb(54,34,235);
}

.text{
margin-top:40px;
display:flex;
flex-direction:column;
gap:10px;
font-size:18px;
color:blue;
}

p{
font-size:16px;
color:rgb(109,106,106);
}

.loginsection{
width:100%;
display:flex;
flex-direction:column;
gap:15px;
color:black;
}

.email{
font-size:18px;
font-weight:bold;
color:slateblue;
}

input[type="email"],
input[type="password"]{
width:100%;
height:50px;
border:1px solid gray;
border-radius:5px;
padding:5px;
font-size:16px;
}

label{
font-size:16px;
font-weight:200;
}

.forgetpw{
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
font-size:14px;
}

.btn{
display:flex;
gap:30px;
}

.btn1{
width:110px;
height:40px;
background-color:rgb(68,68,253);
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}

.btn2{
width:110px;
height:40px;
background-color:white;
color:rgb(64,64,250);
border:1px solid rgb(116,116,240);
border-radius:5px;
font-size:16px;
cursor:pointer;
}

.otheroption{
width:80%;
display:flex;
justify-content:space-between;
align-items:center;
gap:15px;
color:black;
margin-top: 100px;
}

.nav2{
width:100%;
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 30px;
}

.nav2 a{
text-decoration:none;
font-size:18px;
font-weight:500;
color:rgb(94,93,93);
}


span{
border-bottom:2px solid rgb(105,105,233);
}

a{
text-decoration:none;
font-size:20px;
font-weight:700;
color:rgb(12,85,243);
}

.imageSection img{
max-width:100%;
height:auto;
display: block;
margin: 0 auto;
}

.imageSection{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
